@use "../../global" as g;

.p-contact {
  background-color: g.$color-gray;
  padding: 80px 0;
  margin-top: 40px;
  @include g.mq(md) {
    margin-top: 30px;
  }
  &__inner {
    padding: 0;
  }
  &__heading {
    text-align: center;
    margin-bottom: 30px;
  }
  &__text {
    text-align: center;
    color: g.$color-text;
    margin-bottom: 20px;
  }
  &__link {
    text-align: center;
  }
}
