@use "../../global" as g;

.p-works {
  position: relative;
  &__inner {
    display: flex;
    @include g.mq(md) {
      display: block;
    }
  }
  &__img-wrapper {
    width: 59%;
    margin-right: 30px;
    @include g.mq(md) {
      width: 100%;
      margin-bottom: 60px;
    }
  }
  &__desc {
    text-align: center;
    &::after {
      content: "";
      background-color: g.$color-gray;
      position: absolute;
      left: 40%;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      @include g.mq(md) {
        height: 70%;
        top: auto;
        left: 0;
        bottom: 0;
        width: 100%;
      }
    }
  }
  &__heading {
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 30px;
  }
}
