@use "../../global" as g;

.c-heading-primary {
  display: flex;
  flex-direction: column;
  color: g.$color-primary;
  @include g.font-size(36);
  text-transform: uppercase;
  line-height: 1;
  &__sub {
    @include g.font-size(13);
    margin-top: 10px;
  }
  @include g.mq(md) {
    @include g.font-size(30);
    text-align: center;
  }
}

.c-heading-secondary {
  text-align: center;
  font-weight: bold;
  color: g.$color-primary;
  @include g.font-size(32);
  margin-bottom: 10px;
}
